<div class="row" ng-hide="(TotalPages < 2)">

    <div class="col-md-6">
        <div class="dataTables_info">Showing {{RowStart}} to {{RowEnd}} of {{TotalRecords}} entries </div>
    </div>
    <div class="col-md-6">
        <div class="dataTables_paginate paging_simple_numbers" id="">
            <ul class="pagination">
                <li ng-class='PageNo==1?"paginate_button active":"paginate_button"'><a ng-click="DoPaging(1)" ng-if="PageNo!=1">First</a></li>
                <li ng-class='PageNo==1?"paginate_button active":"paginate_button"'><a ng-click="DoPaging(PageNo-1)" ng-if="PageNo!=1">Prev</a></li>
                <li ng-repeat="n in GeneratePager()" ng-class='PageNo==n?"paginate_button active":"paginate_button"'>
                    <a ng-click="DoPaging(n)">{{n}}</a>
                </li>
                <li ng-class='PageNo==TotalPages?"paginate_button active":"paginate_button"'><a ng-click="DoPaging(PageNo+1)" ng-if="PageNo!=TotalPages">Next</a></li>
                <li ng-class='PageNo==TotalPages?"paginate_button active":"paginate_button"'><a ng-click="DoPaging(TotalPages)" ng-if="PageNo!=TotalPages">Last</a></li>
            </ul>
        </div>
    </div>
</div>

